{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="route/" method="POST">
    {% csrf_token %}
<h1><label>From: </label></h1>
    <h2><select class="form-control form-control-lg" name="point_from" id="point_from_id">
        <option value="">Please set the city</option>
        <option value="Alytus">Alytus</option>
        <option value="Athens">Athens</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Bari">Bari</option>
        <option value="Belgrade">Belgrade</option>
        <option value="Berlin">Berlin</option>
        <option value="Bern">Bern</option>
        <option value="Białystok">Białystok</option>
        <option value="Bielefeld">Bielefeld</option>
        <option value="Bilbao">Bilbao</option>
        <option value="Bologna">Bologna</option>
        <option value="Bonn">Bonn</option>
        <option value="Bratislava">Bratislava</option>
        <option value="Brașov">Brașov</option>
        <option value="Bremen">Bremen</option>
        <option value="Brno">Brno</option>
        <option value="București">București</option>
        <option value="Budapest">Budapest</option>
        <option value="Bydgoszcz">Bydgoszcz</option>
        <option value="Catania">Catania</option>
        <option value="Cluj">Cluj</option>
        <option value="Częstochowa">Częstochowa</option>
        <option value="Daugavpils">Daugavpils</option>
        <option value="Dortmund">Dortmund</option>
        <option value="Dresden">Dresden</option>
        <option value="Düsseldorf">Düsseldorf</option>
        <option value="Florence">Florence</option>
        <option value="Frankfurt am Main">Frankfurt am Main</option>
        <option value="Gdańsk">Gdańsk</option>
        <option value="Geneva">Geneva</option>
        <option value="Genoa">Genoa</option>
        <option value="Graz">Graz</option>
        <option value="Hamburg">Hamburg</option>
        <option value="Hannover">Hannover</option>
        <option value="Katowice">Katowice</option>
        <option value="Kaunas">Kaunas</option>
        <option value="Kishinev">Kishinev</option>
        <option value="Klaipeda">Klaipeda</option>
        <option value="Košice">Košice</option>
        <option value="Kraków">Kraków</option>
        <option value="Köln">Köln</option>
        <option value="Leipzig">Leipzig</option>
        <option value="Liepāja">Liepāja</option>
        <option value="Lisbon">Lisbon</option>
        <option value="Ljubljana">Ljubljana</option>
        <option value="Lublin">Lublin</option>
        <option value="Lyon">Lyon</option>
        <option value="Łódź">Łódź</option>
        <option value="Madrid">Madrid</option>
        <option value="Marseille">Marseille</option>
        <option value="Milan">Milan</option>
        <option value="Minsk">Minsk</option>
        <option value="Montpellier">Montpellier</option>
        <option value="Murcia">Murcia</option>
        <option value="Málaga">Málaga</option>
        <option value="München">München</option>
        <option value="Münster">Münster</option>
        <option value="Nantes">Nantes</option>
        <option value="Napoli">Napoli</option>
        <option value="Nice">Nice</option>
        <option value="Nürnberg">Nürnberg</option>
        <option value="Osijek">Osijek</option>
        <option value="Ostrave">Ostrave</option>
        <option value="Palermo">Palermo</option>
        <option value="Panevėžys">Panevėžys</option>
        <option value="Paris">Paris</option>
        <option value="Plovdiv">Plovdiv</option>
        <option value="Poznań">Poznań</option>
        <option value="Praga">Praga</option>
        <option value="Pula">Pula</option>
        <option value="Riga">Riga</option>
        <option value="Rijeka">Rijeka</option>
        <option value="Rome">Rome</option>
        <option value="Sarajevo">Sarajevo</option>
        <option value="Seville">Seville</option>
        <option value="Skopje">Skopje</option>
        <option value="Sofia">Sofia</option>
        <option value="Split">Split</option>
        <option value="Stuttgart">Stuttgart</option>
        <option value="Szczecin">Szczecin</option>
        <option value="Tallin">Tallin</option>
        <option value="Tartu">Tartu</option>
        <option value="Thessaloniki">Thessaloniki</option>
        <option value="Timișoara">Timișoara</option>
        <option value="Tirana">Tirana</option>
        <option value="Toulouse">Toulouse</option>
        <option value="Turin">Turin</option>
        <option value="Valencia">Valencia</option>
        <option value="Varna">Varna</option>
        <option value="Venice">Venice</option>
        <option value="Viena">Viena</option>
        <option value="Vilnius">Vilnius</option>
        <option value="Warszawa">Warszawa</option>
        <option value="Wrocław">Wrocław</option>
        <option value="Zadar">Zadar</option>
        <option value="Zagreb">Zagreb</option>
        <option value="Zaragoza">Zaragoza</option>
        <option value="Zürich">Zürich</option>
    </select></h2>
    <h1><label>To: </label></h1>
    <h2><select class="form-control form-control-lg" name="point_to" id="point_to_id">
        <option value="">Please set the city</option>
        <option value="Alytus">Alytus</option>
        <option value="Athens">Athens</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Bari">Bari</option>
        <option value="Belgrade">Belgrade</option>
        <option value="Berlin">Berlin</option>
        <option value="Bern">Bern</option>
        <option value="Białystok">Białystok</option>
        <option value="Bielefeld">Bielefeld</option>
        <option value="Bilbao">Bilbao</option>
        <option value="Bologna">Bologna</option>
        <option value="Bonn">Bonn</option>
        <option value="Bratislava">Bratislava</option>
        <option value="Brașov">Brașov</option>
        <option value="Bremen">Bremen</option>
        <option value="Brno">Brno</option>
        <option value="București">București</option>
        <option value="Budapest">Budapest</option>
        <option value="Bydgoszcz">Bydgoszcz</option>
        <option value="Catania">Catania</option>
        <option value="Cluj">Cluj</option>
        <option value="Częstochowa">Częstochowa</option>
        <option value="Daugavpils">Daugavpils</option>
        <option value="Dortmund">Dortmund</option>
        <option value="Dresden">Dresden</option>
        <option value="Düsseldorf">Düsseldorf</option>
        <option value="Florence">Florence</option>
        <option value="Frankfurt am Main">Frankfurt am Main</option>
        <option value="Gdańsk">Gdańsk</option>
        <option value="Geneva">Geneva</option>
        <option value="Genoa">Genoa</option>
        <option value="Graz">Graz</option>
        <option value="Hamburg">Hamburg</option>
        <option value="Hannover">Hannover</option>
        <option value="Katowice">Katowice</option>
        <option value="Kaunas">Kaunas</option>
        <option value="Kishinev">Kishinev</option>
        <option value="Klaipeda">Klaipeda</option>
        <option value="Košice">Košice</option>
        <option value="Kraków">Kraków</option>
        <option value="Köln">Köln</option>
        <option value="Leipzig">Leipzig</option>
        <option value="Liepāja">Liepāja</option>
        <option value="Lisbon">Lisbon</option>
        <option value="Ljubljana">Ljubljana</option>
        <option value="Lublin">Lublin</option>
        <option value="Lyon">Lyon</option>
        <option value="Łódź">Łódź</option>
        <option value="Madrid">Madrid</option>
        <option value="Marseille">Marseille</option>
        <option value="Milan">Milan</option>
        <option value="Minsk">Minsk</option>
        <option value="Montpellier">Montpellier</option>
        <option value="Murcia">Murcia</option>
        <option value="Málaga">Málaga</option>
        <option value="München">München</option>
        <option value="Münster">Münster</option>
        <option value="Nantes">Nantes</option>
        <option value="Napoli">Napoli</option>
        <option value="Nice">Nice</option>
        <option value="Nürnberg">Nürnberg</option>
        <option value="Osijek">Osijek</option>
        <option value="Ostrave">Ostrave</option>
        <option value="Palermo">Palermo</option>
        <option value="Panevėžys">Panevėžys</option>
        <option value="Paris">Paris</option>
        <option value="Plovdiv">Plovdiv</option>
        <option value="Poznań">Poznań</option>
        <option value="Praga">Praga</option>
        <option value="Pula">Pula</option>
        <option value="Riga">Riga</option>
        <option value="Rijeka">Rijeka</option>
        <option value="Rome">Rome</option>
        <option value="Sarajevo">Sarajevo</option>
        <option value="Seville">Seville</option>
        <option value="Skopje">Skopje</option>
        <option value="Sofia">Sofia</option>
        <option value="Split">Split</option>
        <option value="Stuttgart">Stuttgart</option>
        <option value="Szczecin">Szczecin</option>
        <option value="Tallin">Tallin</option>
        <option value="Tartu">Tartu</option>
        <option value="Thessaloniki">Thessaloniki</option>
        <option value="Timișoara">Timișoara</option>
        <option value="Tirana">Tirana</option>
        <option value="Toulouse">Toulouse</option>
        <option value="Turin">Turin</option>
        <option value="Valencia">Valencia</option>
        <option value="Varna">Varna</option>
        <option value="Venice">Venice</option>
        <option value="Viena">Viena</option>
        <option value="Vilnius">Vilnius</option>
        <option value="Warszawa">Warszawa</option>
        <option value="Wrocław">Wrocław</option>
        <option value="Zadar">Zadar</option>
        <option value="Zagreb">Zagreb</option>
        <option value="Zaragoza">Zaragoza</option>
        <option value="Zürich">Zürich</option>
    </select></h2>
    <h2><input type="Submit" class="btn btn-primary mb-2" name="submit" value="Build a route"/></h2>
</form>

{% endblock %}

